.form__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 54px;
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.form__input {
  border: none;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  padding-bottom: 13.26px;
  font-family: "Inter", Arial, san-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

.form__save-button {
  background-color: black;
  border: solid;
  border-width: 1px;
  border-radius: 2px;
  width: 100%;
  height: 50.15px;
  color: white;
  font-family: "Inter", Arial, san-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.35s;
}

.form__save-button:hover {
  opacity: 0.8;
}

.form__error {
  color: red;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
}
.form__error:last-of-type {
  margin-bottom: 31.34px;
}
.form__input_type_error {
  border-bottom: 1px solid red;
}
.form__save-button_disabled {
  background-color: #ffffff;
  cursor: default;
  border: #000000 solid 1px;
  border-radius: 2px;
  opacity: 0.2;
  color: #000000;
}
.form__save-button_disabled:hover {
  opacity: 0.2;
}

@media screen and (max-width: 425px) {
  .form__title {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 75px;
  }

  .form__input {
    width: 100%;
  }

  .form__save-button {
    width: 100%;
    font-size: 18px;
    line-height: 17px;
  }
}
