.form__fieldset {
  display: flex;
  flex-direction: column;
  border-style: none;
  margin: 0;
  padding: 0;
}

.form__input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid rgba(0, 0, 0, 20%) 1px;
  font-size: 14px;
  line-height: 17px;
  color: black;
  padding-bottom: 13.26px;
  margin-bottom: 20px;
}

.form__input:last-of-type {
  margin-bottom: 0px;
}

.form__button {
  background-color: rgba(0, 0, 0, 1);
  border: none;
  border-radius: 2px;
  color: white;
  width: 100%;
  height: 50px;
}
.form__button:hover:not(:disabled) {
  opacity: 0.8;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.8;
  transition: 0.2s;
  cursor: pointer;
}

.form__button_disabled:hover {
  opacity: 0.2;
  cursor: default;
}

.form__button_disabled {
  background-color: #ffffff;
  cursor: default;
  border: #000000 solid 1px;
  border-radius: 2px;
  opacity: 0.2;
  color: #000000;
}

.form__input_type_error {
  border-bottom: 1px solid red;
  margin-bottom: 0px;
}

.form__input-error {
  color: red;
  font-family: "inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
}

.form__input-error:last-of-type {
  margin-bottom: 31.34px;
}
