.header {
  width: calc(100% - 40px);
  max-width: 880px;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 41px;
}

.header__line {
  border-bottom: solid #858585 1px;
  margin-top: 41px;
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 28px;
    padding-bottom: 38.25px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 27px;
  }
}

@media screen and (max-width: 879px) {
  .header__logo {
    padding-left: 20px;
  }

  .header__line {
    margin-left: 20px;
    margin-right: 20px;
  }
}
