.header {
  width: calc(100% - 40px);
  max-width: 880px;
  margin: auto;
  margin-bottom: 40px;
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: solid rgba(133, 133, 133, 1) 1px;
}

@media screen and (max-width: 480px) {
  .header {
    padding-top: 28px;
    padding-bottom: 32px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 27px;
  }
}

@media screen and (max-width: 879px) {
  .header__logo {
    padding-left: 20px;
  }
}
