.gallery {
  font-family: "Inter", Arial, sans-serif;
  padding: 15px 0 18px;
}

.gallery__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 282px));
  justify-content: center;
  grid-gap: 20px 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
