.header {
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
  width: 100%;
  max-width: 880px;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
}

.header__image {
  width: 172px;
  height: 33px;
}

@media screen and (max-width: 1100px) {
  .header {
    padding-top: 28px;
    padding-left: 27px;
    padding-bottom: 32px;
  }

  .header__image {
    width: 126px;
    height: 24px;
  }
}
