.header {
  max-width: 880px;
  width: calc(100% - 54px);
  margin: auto;
  display: flex;
  border-bottom: rgba(84, 84, 84, 0.7) solid 1px;
  padding: 0;
}

.header__logo {
  width: 172px;
  padding: 0;
  margin: 45px 0 41px;
}

@media screen and (max-width: 425px) {
  .header {
    width: 100%;
  }
  .header__logo {
    margin: 28px auto 32px 27px;
    height: 24px;
    width: 126px;
  }
}
