.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* width: 100%;
  height: 100%; */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  z-index: 999;
  box-sizing: border-box;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  width: 430px;
  height: 330px;
  padding: 36px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.modal__container-avatar {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 430px;
  height: 272px;
}

.modal__container-delete {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 430px;
}

.modal__close-button {
  border: none;
  width: 40px;
  height: 40px;
  background-image: url(../images/Close\ Iconclose.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 0.6;
  transition: 0.5s;
  cursor: pointer;
}

.modal__heading {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  height: 23px;
  margin: 0 0 20px;
  color: #000;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
}

.modal__form-input {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  border-top: 1px;
  border-right: 1px;
  border-left: 1px;
  padding: 0;
  margin-bottom: 30px;
  border-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.modal__form-input_error {
  border-bottom: solid 1px #ff0000;
}

.modal__form-input::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.modal__submit-button {
  height: 50px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  padding: 0;
  cursor: pointer;
  margin-top: 18px;
  color: white;
  background-color: black;
  border: none;
}

.modal__submit-button:hover {
  opacity: 0.8;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__preview-container {
  display: flex;
  position: relative;
}

/* .modal__footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #ffffff;
} */

.modal__preview-footer {
  color: white;
  position: absolute;
  bottom: -22px;
  left: 0px;
  font-family: Inter, "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}

.modal__error {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: #ff0000;
  margin-top: 5px;
  margin-bottom: 13px;
  position: absolute;
  top: 50px;
  left: 0;
}

.modal__error-avatar {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: #ff0000;
  margin-top: 5px;
  margin-bottom: 13px;
  position: absolute;
  top: 170px;
}

.modal__error-visible {
  display: block;
}

.modal__label {
  position: relative;
}

.modal__submit-button_disabled {
  background-color: #e5e5e5;
  cursor: not-allowed;
  border: none;
}

.modal__submit-button_disabled:hover {
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .modal__container {
    width: 282px;
    padding: 22px;
  }
  .modal__heading {
    font-size: 18px;
    line-height: 22px;
  }

  .modal__close-button {
    width: 26px;
    height: 26px;
    left: calc(100% - 30px);
    margin-bottom: 13px;
  }

  .modal__submit-button {
    font-size: 14px;
    line-height: 17px;
  }

  /* .modal__Preview-image {
    width: 100%;
    height: 100%;
  } */
}
