.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  color: black;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.35s, opacity 0.35s ease-in;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  top: 195px;
  background-color: white;
  width: 430px;
  height: 330px;
  margin: 0 auto;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 34px 36px 36.51px;
  box-sizing: border-box;
}

.modal__close-button {
  background: url(../images/close-icon.png) no-repeat center;
  height: 40px;
  width: 40px;
  position: absolute;
  background-size: contain;
  margin: 0;
  padding: 0;
  top: -40px;
  right: -40px;
  border: none;
  cursor: pointer;
  transition: opacity 0.35s;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__popup-container {
  position: fixed;
  transform: translate(-50%, 0);
  top: 90px;
  left: 50%;
  /* visibility: hidden; */
  /* opacity: 1; */
  /* transition: visibility 0.35s, opacity 0.35s ease-in; */
}

.modal__popup-img {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__popup-title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  line-height: 14.52px;
  color: white;
}

@media screen and (max-width: 425px) {
  .modal__container {
    width: 282px;
    height: 322px;
    top: 123px;
    padding: 25px 22px 25px;
  }

  .modal__close-button {
    width: 26px;
    height: 26px;
    top: -39px;
    right: 0px;
  }
}
